.incredecre{
&__inc-dec {
    &--quantity {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 600;
    }
    &--button {
      tr {
        border: 1px solid color(primary, base);
        border-radius: 3px;
      }
      &--dec {
        background-color: color(primary, base);
        color: #fff;
        width: 20px;
        height: 18px;
        text-align: center;
        cursor: pointer;
      }
      &--num {
        width: 20px;
        text-align: center;
      }
    }
  }
}