.account__details {
  padding-top: 36px;
  padding-bottom: 156px;
  background-color: #f8f8f8;

  .col-md-3.col-sm-12 {
    margin-bottom: 10px;
  }

  .col-md-4.col-sm-12 {
    margin-bottom: 20px;
  }
}
